
main{
    text-align: center;
}
h1{
    font-family: 'Balsamiq Sans', cursive;
    background-color: dodgerblue;
    margin:30px;
    padding-left: 0px;
    font-size: 55px;
}
h2{
    font-size:40px;

}
h3{
    font-size:35px;
}
h4{
    font-size: 25px;
    padding-left: 50px;
}
ul{
    font-family: 'Playfair Display', serif;
    list-style-type: none;
    font-size: 30px;
}
.purple{
    color: purple;
}
.kk{
    color: purple;
    padding-left: 40px;
}
.red{
    color:red;
}
.blue{
    color: blue;
}
.green{
    color:green;
}
p{
    font-size: 20px;
    margin: 30px;
    padding: 20px;
}
img{
    font-size: 200px;
    display: flex;
    justify-content: row;
    flex-direction: row-reverse;
    max-width: 100%;
    height: auto;
}